body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(211, 211, 211);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

.title-banner {
  position: fixed;
  top: 0px;
}

.storiesHeader {
  height: auto;
  position: static;
  color: black;
  margin-top: 60px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.storyListPreviewImg {
  width: 100px;
  height: 100px;
  background-color: hotpink;
  margin-right: 2rem;
  position: relative;
  top: 0;
  bottom: 0;
}

.storyMainImg {
  background-color: hotpink;
  margin: auto;
  width: 70%;
  height: 300px;
}
.story-body {
  width: 50%;
  margin: auto;
  text-align: left;
}

.article-list-info {
  font-size: 8px;
  padding: 0;
  margin: 0;
  max-width: 80%;
}

.articleLink {
  font-size: 25px;
  font-family: monospace;
  margin: 0;
}

h4 {
  padding: 0;
  margin: 0;
}

.homeContainer {
  display: grid;
  grid-template-columns: minmax(20%, 25%) auto;
  grid-template-areas: 'sidebar main';
}

.sidebar-links {
  position: fixed;
  left: 20px;
  min-width: 20%;
}
.sidebar {
  grid-template-areas: 'sidebar';
  background-color: black;
  min-height: 1080px;
  padding: 1rem;
}
.homeMain {
  text-align: left;
  padding-left: 50px;
}

.sidebar-button {
  display: block;
  text-decoration: none;
  width: 50%;
  margin: 1rem auto;
  padding: 1rem;
}

.story-previews {
  display: flex;
  text-align: left;
}

.home-story-img {
  min-width: 100%;
  height: 200px;
  background-color: hotpink;
  margin-right: 2rem;
  position: relative;
  top: 0;
  bottom: 0;
}
.home-story {
  margin: 2rem;
  background-color: cornsilk;
  padding: 1rem;
  min-width: 25%;
}
